@import '../../../../styles/globals/variables'
@import '../../../../styles/globals/mixins'

:host
    display block
    background-color color-menu-background
    background-image url('/assets/images/background.jpg')
    background-repeat no-repeat
    background-position middle center
    background-size cover
    padding 3.5em 0 0 0
    margin 0
    border-bottom 1px solid black

    &.loading
        overflow hidden
        max-height 100%

        .logo
            width 80%
            padding 10%

.container
    max-width page-width
    margin 0 auto

.logo
    display inline-block
    vertical-align bottom
    width 100px
    margin 0
    padding 10px
    transition all .5s ease-out

    img
        width 100%
        height auto

h1
    display block
    color white
    margin 0 0 0.25em 0
    padding 0

nav
    display inline-block
    vertical-align bottom
    font-size 1.5em
    padding 10px
    margin-bottom 10px
    opacity 1

.menu    
    display block

    a
        color color-menu-text
        text-decoration none
        border-bottom 10px solid transparent;
        padding 10px
        &.active
            color color-menu-active
            border-color color-menu-active
