.update(*ngIf="selected")
    h3 Editing Todo
    input(#title="", [value]="selected.title")
    button((click)="save(title.value); title.value=''") Save
    button((click)="remove()") Remove
    button((click)="cancel()") Cancel
.create(*ngIf="!selected")
    h3 Create a new Todo
    input(#newtitle="")
    button((click)="create(newtitle.value); newtitle.value=''") Create