/* Fonts */
site-font = 'Slabo 27px', serif

/* Colors */
color-body-background = #cccccc
color-main-background = #ffffff
color-main-border = #333333
color-heading = #ff0000
color-paragraph = #ffffff
color-link = #000099

/* Layout */
page-width = 900px

