.footer &copy;
    a(href="https://github.com/jussikinnula", target="_blank") Jussi Kinnula
    span &middot; Licensed under
    a(href="https://opensource.org/licenses/MIT", target="_blank") MIT license