@import './globals/*'

body
    font-family site-font
    margin 0
    padding 10px
    
main
    color color-paragraph
    background-color color-main-background
    border 1px solid color-main-border
    padding 10px
    
h1, h2, h3
    color color-heading
    
a, a:active, a:hover, a:visited
    color color-link
