@import '../../../styles/globals/variables'
@import '../../../styles/globals/mixins'

:host
    display block
    max-width page-width

.todo
    display inline-block
    padding 5px
    margin 0
    a
        padding 5px
        background-color #cccccc
        &:active
            background-color #999999